<div class="about-main">

  <h1>Web App realizada por Daniel Bermúdez</h1>

  <p><br>Mediante la selección de Comunidad y de Ciudad, se muestra el tiempo previsto para el día actual y los 4 siguientes. 
  <br><br>Adicionalmente, se muestra la previsión de las temperaturas, inclueyndo mínimas y máximas,en un gráfico.
  <br><br>Se puede acceder al código fuente en el <a style=bold href="https://github.com/daniberc/weatherApp" target="_blank"><b> repositorio GitHub</b>. 

  </p>

  <p><br><br>Adicionalmente, pueden acceder a una app web <a style=bold href="https://github.com/daniberc/WikiCountry" target="_blank"><b>WikiCountry</b>, así como a un juego <a style=bold href="https://github.com/daniberc/memory-Cards" target="_blank"><b>Memory Cards.</b></p>


</div>
