<article>
    <!-- Las propiedades y métodos del controlador se interpretan en las templates cuando van dentro del par de llaves -->
    <!--{{ compoPadre.foo }} -->

    <footer 
    class="footer-main"
    ng-click="viewFooter.goToAbout()"
    >

    <span class="footer-realized">Realizado por Daniel Bermúdez</span>
    <span class="footer-credits">Con el apoyo de <a style=bold href="http://www.openweather.org" target="_blank"><b> openweather.org</b><a> y <a href="https://www.highcharts.com" target="_blank"><b>highcharts.com</b></a> </span>
    
    </footer>

    

</article>